<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>



<form action="#" th:action="@{/reset}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Title error message</td>
        </tr>
        <tr>
            <td>Passowrd:</td>
            <td><input type="password" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Content error message</td>
        </tr>
        <tr>
            <td>New Passowrd:</td>
            <td><input type="password" th:field="*{newPassword}" /></td>
            <td th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Content error message</td>
        </tr>
        <tr>
            <td><button type="submit">Submit reset</button></td>
        </tr>
    </table>
    <p th:text="${msg}" />
</form>

</body>
</html>